
.display-container {

  width: 345px;
  min-height: 80px;
 justify-self: center;
  margin-bottom: 20px;
  background-color: #383838; 
  border-radius: 10px;
  border: 4px solid #4a0082; /* Borda principal roxa escura */
  box-shadow: 
    inset 0px 0px 8px rgba(0, 0, 0, 0.7), /* Sombra interna para profundidade */
    0px 0px 0px 2px #c9a0dc; /* Contorno roxo claro */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.display-text {
  padding-right: 0.8rem;
  color: white;
  font-size: 36px;
  font-family: 'BigBlueTermPlus Nerd Font Propo', monospace; 
  
  /* Garante que o texto não quebre linha e seja cortado com "..." se for muito longo */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
