@font-face {
  font-family: 'BigBlueTermPlus Nerd Font Propo'; /* 1. Dê um nome para a fonte */
  src: url('/fonts/BigBlueTerm437NerdFontPropo-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
   overflow: hidden;
   
  
}
/* App.css */

.calculator-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;  
  
  filter: url(/public/img/image.png);
  filter: hue-rotate(340deg);
  background-image: url('/public/img/image.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  box-sizing: border-box; 
  margin: -25px;
 
}




